{% extends 'base.html' %}
{% block content %}
<!-- import section -->

<!-- Pageable -->
<script src="https://unpkg.com/pageable@latest/dist/pageable.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/pageable@latest/dist/pageable.min.css">

<!-- my docs -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/video-js.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/videojs.markers.min.css') }}"/>
<script src="{{ url_for('static', filename='js/video.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/videojs-markers.min.js') }}"></script>


<!-- import section end -->

<div id="background" class="fixed">
	<video id="bg-video" muted autoplay loop>
		<source src="{{ url_for('static', filename='videos/background.mp4') }}">
		<strong>Your browser does not support the video tag.</strong>
	</video>
</div>

<div id="bg-overlay" class="overlay fixed"></div>

<div>
	<nav id="navbar" class="fixed">
		<a href="#">
			<img id="site-logo" class="nav-item" src="{{ url_for('static', filename='images/logo.png') }}">
		</a>
	</nav>
</div>


<div id="wrap">
	<div class="content" data-anchor="fold">
		<div class="gap-fold"></div>
		<div class="card">
			<div class="card-body col-12" id="drop_area">
				<div class="col-12">
					<div class="video-logo">
						<img class="card-img" src="{{ url_for('static', filename='images/film.png') }}"/>
					</div>
				</div>
				<div class="col-12">
					<div class="top-area">
						<h3>Mp4 파일 드래그하기</h3>
					</div>
					<div class="middle-area">
						<h3>또는</h3>
					</div>
					<div class="btn-upload">
						<button id="file-upload">컴퓨터에서 첨부하기</button>
						<form class="upload">
							<input type="file" id="video-upload" name="video" style="display: none;" onchange="changeValue(this)"/>
							<input type="hidden" id="video-file-name" value=""/>
						</form>
					</div>
					<div id="upload_progress"></div>
					<div id="speed"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="content" data-anchor="keyword">
		<div class="gap"></div>
		<div class="keyword-sec" id="expand-header">
			<div id="expand-text" class="site-text">
				<span id="expand-headline" class="headline">
					키워드 입력
				</span><br>
			</div>
			<div class="card">
				<div class="card-body col-12 row height-80">
					<div class="col-6 display-flex">
						<div class="col-12 margin-auto">
							<span id="expand-headline" class="headline-title">
								* 키워드 입력간 유의사항 *
							</span>
							<span>
								
							</span>
						</div>
					</div>
					<div class="col-6">
						<div class="col-12 result-cap-title">
							<input type="text" class="input-keyword" id="input-keyword" placeholder="검색 키워드를 입력하세요.">
							<button type="button" class ="btn-keyword">생성</button>
						</div>
						<div class="col-12 result-cap-content">
							<div class="margin-auto">
								<table class="border-none" id="key-table" width="100%">
									<colgroup>
										<col width="70%" />
										<col width="15%" />
									  </colgroup>
								</table>
							</div>
						</div>
						<input class="video-id" id="video-id" type="hidden" value="" />
					</div>
					
				</div>
				<div class="col-12 height-20 display-flex">
					<div class="margin-auto">
						<button class="video-convert" onClick="videoConvert();">비디오 변환하기</button>
					</div>
				</div>
			</div>
		</div>
		<div class="loading display-none" id="expand-header">
			<div id="expand-text" class="site-text">
				<span id="expand-headline" class="headline">
					
				</span><br>
			</div>
			<div class="card">
				<div class="card-body col-12 display-flex margin-auto">
					<div class="col-12 display-flex">
						<div class="col-12 margin-auto">
							<div class="spinner-border" role="status">
								<span class="sr-only">Loading...</span>
							</div>
							<div class="load-text-sec">
								영상을 변환중입니다. 잠시만 기다려주세요.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content" data-anchor="result">
		<div class="gap"></div>
		<div id="expand-header">
			<div id="expand-text" class="site-text">
				<span id="expand-headline" class="headline">
					결과 영상 확인
				</span><br>
			</div>
			<div class="card">
				<div class="card-body col-12 row">
					<div class="col-6 display-flex">
						<div class="col-12 result-video-sec" id="resultVideo">
							<video 
								id="example_video_1" 
								class="video-js vjs-default-skin"
								controls
								width="640" 
								height="360"
								data-setup='{"width": 640, "height": 360}'
								src="">
							</video>

							<a id="example_video_download" href="" download>download</a>
						</div>
					</div>
					<div class="col-6">
						<div class="col-12 result-cap-title">
							<span id="expand-headline" class="headline-title">
								생성 캡션 확인
							</span>
						</div>
						<div class="col-12 result-cap-content">
							<div class="row">
								<div>[00:27]</div>
								<div>id : 1</div>
								<div>cap : man is walking on the street</div>
							</div>
							<div class="row">
								<div>[00:27]</div>
								<div>id : 1</div>
								<div>cap : man is walking on the street</div>
							</div>
							<div class="row">
								<div>[00:27]</div>
								<div>id : 1</div>
								<div>cap : man is walking on the street</div>
							</div>
							<div class="row">
								<div>[00:27]</div>
								<div>id : 1</div>
								<div>cap : man is walking on the street</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	
	const pageable = new Pageable("#wrap", {
		animation: 500,
		events: {
			mouse: false,
		}
	});

	$('#file-upload').click(function(){$('#video-upload').trigger('click');});

	
	//----------Drag & Drop--------------
	// prevent the default behavior of web browser
	['dragleave', 'drop', 'dragenter', 'dragover'].forEach(function (evt) {
		document.addEventListener(evt, function (e) {
			e.preventDefault();
		}, false);
	});

	var drop_area = document.getElementById('drop_area');
	drop_area.addEventListener('drop', function (e) {
		e.preventDefault();
		var fileList = e.dataTransfer.files; // the files to be uploaded
		if (fileList.length == 0) {
			return false;
		}

		// we use XMLHttpRequest here instead of fetch, because with the former we can easily implement progress and speed.
		var xhr = new XMLHttpRequest();
		// xhr.open('post', '/drag_upload', true); // aussume that the url /upload handles uploading.
		xhr.open('post', '/drag_upload', true);
		xhr.onreadystatechange = function () {
			if (xhr.readyState == 4 && xhr.status == 200) {
				// uploading is successful
				Swal.fire({
					text: "업로드가 완료되었습니다.",
					confirmButtonColor: "#000000",
					icon: "success"
				}).then(function(){
					pageable.scrollToAnchor("#keyword");
					var id = xhr.responseText[0];
					$('#video-id').val(id);
				})
			}
		};

		// show uploading progress
		var lastTime = Date.now();
		var lastLoad = 0;
		xhr.upload.onprogress = function (event) {
			if (event.lengthComputable) {
				// update progress
				var percent = Math.floor(event.loaded / event.total * 100);
				document.getElementById('upload_progress').textContent = percent + '%';

				// update speed
				var curTime = Date.now();
				var curLoad = event.loaded;
				var speed = ((curLoad - lastLoad) / (curTime - lastTime) / 1024).toFixed(2);
				document.getElementById('speed').textContent = speed + 'MB/s'
				lastTime = curTime;
				lastLoad = curLoad;
			}
		};

		// send files to server
		xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
		var fd = new FormData();
		for (let file of fileList) {
			fd.append('files', file);
		}
		lastTime = Date.now();

		xhr.send(fd);
	}, false);
		

	function changeValue(obj){
		var filename = $('input[id=video-upload]').val().replace(/C:\\fakepath\\/i, '');

		var form = $('.upload')[0];
		var formData = new FormData(form);

		alert(filename);
		$('#video-file-name').val(filename);
		$.ajax({
			url: '/upload',
			type: 'POST',
			data: formData,
			contentType: false,
			processData: false,

			success: function(res){
				alert('성공 new ajax');
				var id = res[0];
				$('#video-id').val(id);
				alert(res);
				alert(res[0]);
				Swal.fire({
					text: "업로드가 완료되었습니다.",
					confirmButtonColor: "#000000",
					icon: "success"
				}).then(function(){
					pageable.scrollToAnchor("#keyword");
				})
			},
			error: function(request, status, error){
				alert('ajax 통신 실패')
				alert(error);
				alert("code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
			}
		})
	}	

	//----------keyword & convert------------
	var video_name;
	function videoConvert(){
		Swal.fire({
			text: "비디오를 변환하시겠습니까?",
			confirmButtonColor: "#000000",
			icon: "question"
		}).then((result) => {
			var dataArrayToSend = [];

			$("#key-table tr").each(function(){
				var len = $(this).find("td").length;

				for(var i=0; i<len; i+=2){
					dataArrayToSend.push($(this).find("td").eq(i).text());
				}
			})

			let video_id = $('#video-id').val();

			$('.loading').show();
			$('.keyword-sec').hide();

			$.ajax({
				url:'/keyword',
				dataType: 'json',
				data: {
					video_id : JSON.stringify(video_id),
					keyword : JSON.stringify(dataArrayToSend)
				},
				type: 'POST',
				success: function(data){
					console.log(data['output_video']);
					alert(data['output_video']);
					
					Swal.fire({
						text: "변환이 완료되었습니다.",
						confirmButtonColor: "#000000",
						icon: "success"
					}).then(function(){
						pageable.scrollToAnchor("#result");
					})

					$('.loading').hide();
					$('.keyword-sec').show();
					
					video_name = data['output_video']

					var video = videojs('example_video_1');
					var video_path1 = '../static/outputs/'
					var path = video_path1.concat(video_name)
					$('#example_video_1 video').attr('src', path)
					$('#example_video_1').load()
					alert(path)
					
					$('#example_video_download').attr('href', path)

					//load markers
					video.markers({
					markers: [
						{time: 9, text: "this"},
						{time: 15, text: "is"},
						{time: 25, text: "so"},
						{time: 37, text: "cool"},
						{time: 100, text: "cool"},
					]
					});
				},
				error: function(request, status, error){
					alert('ajax 통신 실패')
					alert(error);
				},
			})
		})
			
	}
	

	var cnt = 0;
	$(document).on("click", ".btn-keyword", function(){
		$("#key-table").append(
			$("<tr></tr>")
			.append($("<td></td>").attr("class", "text-center").attr("id", cnt).text($("#input-keyword").val()))
			.append($("<td></td>").attr("class", "text-center").append($("<input></input>").attr("id",this.no).attr("type","button").attr("class","del-button btn-del").attr("value","삭제")  ))
		)
		$("#input-keyword").val('');
            window.location='/#keyword';
		cnt += 1;
	})

	$(document).on("click",".del-button",function(){
		console.log(this);
		$(this).parent().parent().remove();
	});
	
</script>
{% endblock %}