{% extends 'base.html' %}
{% block content %}
<!-- import section -->

<!-- Pageable -->
<script src="https://unpkg.com/pageable@latest/dist/pageable.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/pageable@latest/dist/pageable.min.css">

<!-- my docs -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/video-js.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/videojs.markers.min.css') }}"/>
<script src="{{ url_for('static', filename='js/video.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/videojs-markers.min.js') }}"></script>


<!-- import section end -->

<div id="background" class="fixed">
	<video id="bg-video" muted autoplay loop>
		<source src="{{ url_for('static', filename='videos/background.mp4') }}">
		<strong>Your browser does not support the video tag.</strong>
	</video>
</div>

<div id="bg-overlay" class="overlay fixed"></div>

<div>
	<nav id="navbar" class="fixed">
		<a href="#">
			<img id="site-logo" class="nav-item" src="{{ url_for('static', filename='images/logo.png') }}">
		</a>
	</nav>
</div>


<div id="wrap">
	<div class="content" data-anchor="fold">
		<div class="gap-fold"></div>
		<div class="card">
			<div class="card-body col-12" id="drop_area">
				<div class="col-12">
					<div class="video-logo">
						<img class="card-img" src="{{ url_for('static', filename='images/film.png') }}"/>
					</div>
				</div>
				<div class="col-12">
					<div class="top-area">
						<h3>Mp4 파일 드래그하기</h3>
					</div>
					<div class="middle-area">
						<h3>또는</h3>
					</div>
					<div class="btn-upload">
						<button id="file-upload">컴퓨터에서 첨부하기</button>
						<form class="upload">
							<input type="file" id="video-upload" name="video" style="display: none;" onchange="changeValue(this)"/>
							<input type="hidden" id="video-file-name" value=""/>
						</form>
					</div>
					<div id="upload_progress"></div>
					<div id="speed"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="content" data-anchor="keyword">
		<div class="gap"></div>
		<div class="keyword-sec" id="expand-header">
			<div id="expand-text" class="site-text">
				<span id="expand-headline" class="headline">
					키워드 입력
				</span><br>
			</div>
			<div class="card">
				<div class="card-body col-12 row height-80">
					<div class="col-6 display-flex">
						<div class="col-12 margin-auto">
							<div class="col-12 result-cap-title">
								<span id="expand-headline" class="headline-title">
									* 키워드 입력간 유의사항 *
								</span>
							</div>
							
							<div class="keyword-info">
								<div class="keyword-exp">
									<span>* 검색 키워드 입력</span><br/>
									<span>&nbsp · 사람을 묘사하는 단어를 입력해주세요.</span><br/>
									<span>&nbsp&nbsp&nbsp&nbsp (ex: man, woman, pants, sleeve ...)</span><br/>
									<span>&nbsp · 색상을 키워드로 사용할 수 있습니다.</span><br/>
									<span>&nbsp&nbsp&nbsp&nbsp (ex: black, white, red ...)</span><br/>
									<span>&nbsp · 모든 사람에 대한 추적</span><br/>
									<span>&nbsp&nbsp&nbsp&nbsp 키워드 입력이 없으면 모든 사람을 추적합니다.</span><br/>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="col-12 result-cap-title">
							<input type="text" class="input-keyword" id="input-keyword" placeholder="검색 키워드를 입력하세요.">
							<button type="button" class ="btn-keyword enter-key">생성</button>
						</div>
						<div class="col-12 result-cap-content" id="key-sec">
						</div>
						<input class="video-id" id="video-id" type="hidden" value="" />
					</div>
					
				</div>
				<div class="col-12 height-20 display-flex">
					<div class="margin-auto">
						<button class="video-convert" onClick="videoConvert();">비디오 변환하기</button>
					</div>
				</div>
			</div>
		</div>
		<div class="loading display-none" id="expand-header">
			<div id="expand-text" class="site-text">
				<span id="expand-headline" class="headline">
					
				</span><br>
			</div>
			<div class="card">
				<div class="card-body col-12 display-flex margin-auto">
					<div class="col-12 display-flex">
						<div class="col-12 margin-auto">
							<div class="spinner-border" role="status">
								<span class="sr-only">Loading...</span>
							</div>
							<div class="load-text-sec">
								영상을 변환중입니다. 잠시만 기다려주세요.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content" data-anchor="result">
		<div class="gap"></div>
		<div id="expand-header">
			<div id="expand-text" class="site-text">
				<span id="expand-headline" class="headline">
					결과 영상 확인
				</span><br>
			</div>
			<div class="card">
				<div class="card-body col-12 row height-85">
					<div class="col-6 display-flex">
						<div class="result-video-sec" id="resultVideo">
							<video 
								id="example_video_1" 
								class="video-js vjs-default-skin"
								controls
								width="640" 
								height="360"
								data-setup='{"width": 640, "height": 360}'
								src="">
							</video>
						</div>
					</div>
					<div class="col-6">
						<div class="col-12 result-cap-title">
							<span class="headline-title" id="expand-headline">
								생성 캡션 미리보기
							</span>
						</div>
						<div class="display-flex">
							<div class="margin-auto">
								<div class="col-10 result-cap-content margin-auto" id="result-cap-content">
								</div>	
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 display-flex height-15">
					<a class="example-video-download margin-auto" onclick="downloadFile();" download>다 운 로 드</a>
					<a class="caption-file display-none" id="caption-file" href="" download></a>
					<a class="example-video-download display-none" id="example_video_download" href="" download></a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	
	const pageable = new Pageable("#wrap", {
		animation: 500,
		events: {
			mouse: false,
		}
	});

	$('#file-upload').click(function(){$('#video-upload').trigger('click');});

	
	//----------Drag & Drop--------------
	// prevent the default behavior of web browser
	['dragleave', 'drop', 'dragenter', 'dragover'].forEach(function (evt) {
		document.addEventListener(evt, function (e) {
			e.preventDefault();
		}, false);
	});


	var drop_area = document.getElementById('drop_area');
	drop_area.addEventListener('drop', function (e) {
		e.preventDefault();
		var fileList = e.dataTransfer.files; // the files to be uploaded
		if (fileList.length == 0) {
			return false;
		}

		// we use XMLHttpRequest here instead of fetch, because with the former we can easily implement progress and speed.
		var xhr = new XMLHttpRequest();
		// xhr.open('post', '/drag_upload', true); // aussume that the url /upload handles uploading.
		xhr.open('post', '/drag_upload', true);
		xhr.onreadystatechange = function () {
			if (xhr.readyState == 4 && xhr.status == 200) {
				var result = JSON.parse(xhr.response);

				if(result['status'] == 'error_video'){
					Swal.fire({
						text: result['message'],
						confirmButtonColor: "#000000",
						icon: "error"
					}).then(function(){
						window.location.replace("/");
					})
				} else {
					Swal.fire({
						text: "업로드가 완료되었습니다.",
						confirmButtonColor: "#000000",
						icon: "success"
					}).then(function(){
						pageable.scrollToAnchor("#keyword");
						var id = xhr.responseText[0];
						$('#video-id').val(id);
					})
				}
			}
		};

		// show uploading progress
		var lastTime = Date.now();
		var lastLoad = 0;
		xhr.upload.onprogress = function (event) {
			if (event.lengthComputable) {
				// update progress
				var percent = Math.floor(event.loaded / event.total * 100);
				document.getElementById('upload_progress').textContent = percent + '%';

				// update speed
				var curTime = Date.now();
				var curLoad = event.loaded;
				var speed = ((curLoad - lastLoad) / (curTime - lastTime) / 1024).toFixed(2);
				document.getElementById('speed').textContent = speed + 'MB/s'
				lastTime = curTime;
				lastLoad = curLoad;
			}
		};

		// send files to server
		xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
		var fd = new FormData();
		for (let file of fileList) {
			fd.append('files', file);
		}
		lastTime = Date.now();

		xhr.send(fd);
	}, false);
		

	function changeValue(obj){
		var filename = $('input[id=video-upload]').val().replace(/C:\\fakepath\\/i, '');

		var form = $('.upload')[0];
		var formData = new FormData(form);

		$('#video-file-name').val(filename);
		$.ajax({
			url: '/upload',
			type: 'POST',
			data: formData,
			contentType: false,
			processData: false,

			success: function(res){
				var result = JSON.parse(res);

				if (result['status'] == 'error_video'){
					Swal.fire({
						text: result['message'],
						confirmButtonColor: "#000000",
						icon: "error"
					}).then(function(){
						window.location.replace("/");
					})
				} else {
					var id = res[0];
					$('#video-id').val(id);
					Swal.fire({
						text: "업로드가 완료되었습니다.",
						confirmButtonColor: "#000000",
						icon: "success"
					}).then(function(){
						pageable.scrollToAnchor("#keyword");
					})
				}
			},
			error: function(request, status, error){
				Swal.fire({
					text: "다시 시도해주세요.",
					confirmButtonColor: "#000000",
					icon: "error"
				}).then(function(){
					window.location.replace("/");
				})
			}
		})
	}	

	var cnt = 0;
	$(document).on("click", ".enter-key", function(){
		$("#key-sec").append(
			$("<div></div>").attr("class", "col-12 result-cap-title list-keyword")
			.append(
				$("<input></input>").attr("type", "text").attr("class", "input-keyword input-keyword-re").attr("id", cnt).attr("value", $("#input-keyword").val()).attr("readonly", "readonly")
			)
			.append(
				$("<button></button>").attr("type", "button").attr("class", "btn-keyword del-button").attr("id",this.no).text("삭제")
			)
		)
		$("#input-keyword").val('');
            window.location='/#keyword';
		cnt += 1;
	})

	$(document).on("click",".del-button",function(){
		// console.log(this);
		// console.log($(this).parent());
		$(this).parent().remove();
	});

	//----------keyword & convert------------
	var video_name;
	function videoConvert(){
		Swal.fire({
			text: "비디오를 변환하시겠습니까?",
			confirmButtonColor: "#000000",
			icon: "question"
		}).then((result) => {
			$('.loading').show();
			$('.keyword-sec').hide();
			var dataArrayToSend = [];

			$(".input-keyword-re").each(function(){
				// var len = $(this).find("td").length;

				// for(var i=0; i<len; i+=2){
				// 	dataArrayToSend.push($(this).find("td").eq(i).text());
				// }
				var value = $(this).val();
				dataArrayToSend.push(value);
			})

			let video_id = $('#video-id').val();

			$.ajax({
				url:'/keyword',
				dataType: 'json',
				data: {
					video_id : JSON.stringify(video_id),
					keyword : JSON.stringify(dataArrayToSend)
				},
				type: 'POST',
				success: function(data){
					// console.log(data['output_video']);
					// console.log(data['final_data']);
					
					if (data['status'] == "error_video") {
						Swal.fire({
							text: data['message'],
							confirmButtonColor: "#000000",
							icon: "error"
						}).then(function(){
							window.location.replace("/");
						})
					} else {
						Swal.fire({
							text: "변환이 완료되었습니다.",
							confirmButtonColor: "#000000",
							icon: "success"
						}).then(function(){
							pageable.scrollToAnchor("#result");
						})

						$('.loading').hide();
						$('.keyword-sec').show();
						
						video_name = data['output_video']
						caption_name = video_name.slice(0, -4).concat('.txt')

						var video = videojs('example_video_1');
						var video_path1 = '../static/outputs/'
						var caption_path1 = '../static/outputs_caption/'

						var path = video_path1.concat(video_name)
						var caption_path = caption_path1.concat(caption_name)

						$('#example_video_1 video').attr('src', path)
						$('#example_video_1').load()
						
						$('#example_video_download').attr('href', path)
						$('#caption-file').attr('href', caption_path)
						
						
						if (data['final_data'].length > 0) {
							var arrayTime = [];
							for (var i = 0; i < data['final_data'].length; i++) {
								var final_time;
								var final_text;
								if(data['final_data'][i]['min'] > 0) {
									final_time = data['final_data'][i]['min'] * 60 + data['final_data'][i]['sec'];
								} else {
									final_time = data['final_data'][i]['sec'];
								}
								final_text = data['final_data'][i]['object_id'];
								arrayTime.push({time: final_time, text: final_text});
							}

							video.markers({
								markers: arrayTime
							});

							for (var i = 0; i < 5; i++) {
								$("#result-cap-content").append(
									$("<div></div>").attr("class", "mb-15 result-cap").append(
										$("<div></div>").attr("class", "row")
											.append($("<div></div>").text("[ " + data['final_data'][i]['min'] + "분 " + data['final_data'][i]['sec'] + "초" + " ]"))
											.append($("<div></div>").attr("class", "mrl-15").text("object id : " + data['final_data'][i]['object_id']))
									).append(
										$("<div></div>").attr("class", "row")
											.append($("<div></div>")
											.attr("class", "text-start")
											.text("caption : " + data['final_data'][i]['object_cap']))
									)	
								)
							}
						} else {
							$("#result-cap-content").append(
								$("<div></div>").attr("class", "row")
								.append($("<div></div>").text("해당 키워드로 검색된 객체가 없습니다."))
							)
						}
					}
				},
				error: function(request, status, error, data){
					console.log('ajax 통신 실패')
					console.log(error);
				},
			})
		})
			
	}
	
	function downloadFile() {
		var link1 = document.getElementById('example_video_download');
		var link2 = document.getElementById('caption-file');
		link1.click();
		link2.click();
	}
	
</script>
{% endblock %}